@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Poetry basics */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

/* Poetry indentation */
p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 10em;
	text-indent: -1em;
}

/* Block-level italics. */
p[xml|lang="fr"],
ol[xml|lang="fr"]{
	font-style: italic;
}

/* Temperatures */
[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Figures */
figure{
	break-inside: avoid;
	clear: both;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figcaption i{
	font-style: normal;
}

/* Nested figures */
figure figure{
	margin: 0 0 .5em 0;
}

/* Figure sizes and placement */
figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

figure.left{
	float: left;
	margin: .5em .5em .5em 0;
	width: 45%;
}

figure.right{
	float: right;
	margin: .5em 0 .5em .5em;
	width: 45%;
}

figure.small{
	width: 30%;
}

figure.medium{
	margin: 1em auto;
	max-width: 70%;
}

figure.medium img{
	max-height: 45vh;
}

@supports(display: flex){
	/* Restrict height of all images to keep image + caption on one page. */
	figure:not(:has(figure)){
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - 2em);
	}

	figure img{
		min-height: 0;
		object-fit: contain;
	}

	/* Stretch full-page images to fill page, but keep room for caption. */
	figure.full-page{
		display: flex;
		flex-direction: column;
		height: calc(100vh - 2em);
	}

	figure.full-page img{
		height: 100vh;
		min-height: 0;
		object-fit: contain;
	}
}

/* Smaller figure at the beginning of the chapter. */
header + figure,
hgroup + figure{
	margin: 1em auto;
	max-width: 70%;
}

/* Headers of subsections as small-caps. */
section section header p{
	font-variant: small-caps;
	margin: 2em 0 1em 0;
}

section section header + p{
	margin-top: 0;
}

/* Preface footer */
#preface-1 footer{
	margin-top: 1em;
	text-align: right;
}

#preface-1 footer time{
	font-style: italic;
}

/* Note at the end of Chapter 3 */
section aside{
	font-size: smaller;
	margin: 1.5em auto;
}

section > aside > header + *{
	margin-top: 1.5em;
}

/* Subsections in Chapter 6 */
#chapter-6 section{
	margin-bottom: 1em;
	margin-top: 1em;
}

#chapter-6 section p:first-child{
	text-indent: 1em;
}

/* Shared table CSS */
table span.ditto{
	visibility: hidden;
}

table span.ditto::before{
	content: "  ”";
	display: inline-block;
	visibility: initial;
	white-space: nowrap;
	width: 0;
}

table span.ditto.short::before{
	content: " ”";
}

/* First table in Chapter 3 */
#chapter-3 > table:nth-of-type(1){
	border-spacing: 0;
	break-inside: avoid;
}

#chapter-3 > table:nth-of-type(1) th,
#chapter-3 > table:nth-of-type(1) td{
	padding-bottom: .1em;
	padding-right: .5em;
	vertical-align: bottom;
}

#chapter-3 > table:nth-of-type(1) th{
	font-weight: normal;
	text-align: initial;
}

#chapter-3 > table:nth-of-type(1) tbody:nth-child(1) th{
	text-indent: 1em;
}

#chapter-3 > table:nth-of-type(1) th:first-child{
	max-width: 30em;
	max-width: 60ch;
}

#chapter-3 > table:nth-of-type(1) td:nth-last-child(2){
	font-variant-numeric: tabular-nums;
	padding-left: .5em;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
}

#chapter-3 > table:nth-of-type(1) td:last-child{
	text-align: center;
}

#chapter-3 > table:nth-of-type(1) tbody:nth-child(2) tr:last-child td:nth-last-child(2),
#chapter-3 > table:nth-of-type(1) tbody:nth-child(3) tr:last-child td:nth-last-child(2){
	border-top: 1px solid;
}

#chapter-3 > table:nth-of-type(1) span.ditto:nth-of-type(1)::before{
	content: "      ”      ”";
}

#chapter-3 > table:nth-of-type(1) span.ditto:nth-of-type(2)::before{
	content: "    ”";
}

/* Second table in Chapter 3. */
#figure-32 div{
	columns: 2;
	margin: .5em 0;
}

#figure-32 table{
	border-spacing: 0;
	break-inside: avoid;
	margin: 0 auto;
}

#figure-32 th,
#figure-32 td{
	padding: .1em .5em;
}

#figure-32 th{
	font-weight: normal;
	text-align: initial;
}

#figure-32 td{
	font-variant-numeric: tabular-nums;
	text-align: center;
	white-space: nowrap;
}

#figure-32 thead th{
	padding-bottom: .3em;
	text-align: center;
}

#figure-32 p{
	text-indent: none;
}

/* First table Chapter 11 */
#chapter-11 table{
	border-spacing: 0;
	break-inside: avoid;
	margin: 1em auto;
}

#chapter-11 th{
	font-weight: normal;
	padding: .1em;
	vertical-align: bottom;
}

#chapter-11 td{
	padding: .1em;
	vertical-align: top;
}

#chapter-11 td:nth-child(1){
	padding-right: .5em;
	text-align: right;
}

#chapter-11 td:nth-child(2){
	padding-right: 1.5em;
}

#chapter-11 td:nth-child(4){
	padding: 0;
}

#chapter-11 td:nth-child(3),
#chapter-11 td:nth-child(5){
	text-align: center;
	vertical-align: bottom;
}

/* Appendix D and E */
#appendix-d table,
#appendix-e table{
	border-bottom: 2px solid;
	border-spacing: 0;
	border-top: 2px solid;
}

#appendix-d th,
#appendix-d td,
#appendix-e th,
#appendix-e td{
	font-weight: normal;
	padding: .3em;
	text-align: initial;
	vertical-align: top;
}

#appendix-d thead th,
#appendix-e thead th{
	padding: .6em .3em;
	vertical-align: bottom;
}

#appendix-d tbody tr:first-child th,
#appendix-d tbody tr:first-child td,
#appendix-e tbody tr:first-child th,
#appendix-e tbody tr:first-child td{
	border-top: 1px solid;
	padding-top: .6em;
}

#appendix-d tbody tr:last-child td,
#appendix-e tbody tr:last-child td{
	padding-bottom: .6em;
}

#appendix-d td:nth-child(1),
#appendix-e td:nth-child(1){
	text-align: center;
}

#appendix-d td:nth-child(2),
#appendix-d td:nth-child(3),
#appendix-d td:nth-child(5),
#appendix-e td:nth-child(2),
#appendix-e td:nth-child(3){
	white-space: nowrap;
}

#appendix-e table + p{
	margin-top: 1em;
}

/* Reference list in Appendix F */
#appendix-f ol{
	list-style: upper-roman;
	margin-left: 20px;
}

/* Numbered "remarks" in Appendix G */
#appendix-g p:nth-of-type(n+13){
	margin: 1em 0;
	text-indent: 0;
}

#appendix-g p:nth-of-type(16){
	margin: 1em 0 0 0;
}

#appendix-g p:nth-of-type(17){
	margin: 0 0 1em 0;
	text-indent: 1em;
}

/* Chapter 3, notes 51/52/53, table */
#note-51 table,
#note-52 table,
#note-53 table{
	margin: 1em auto;
}

#note-51 th,
#note-51 td,
#note-52 th,
#note-52 td,
#note-53 th,
#note-53 td{
	font-variant-numeric: tabular-nums;
	font-weight: normal;
	padding: .1em .5em;
	text-align: initial;
}

/* Chapter 3, note 51, table */
#note-51 td{
	text-align: right;
	vertical-align: bottom;
}

#note-51 td:nth-child(1){
	padding-left: 0;
	vertical-align: top;
	width: 1.5em;
}

#note-51 tfoot th{
	text-align: right;
}

#note-51 tfoot tr:first-child td:last-child{
	border-top: 1px solid;
	padding-top: 2px;
}

/* Chapter 3, note 52, table */
#note-52 td:nth-child(1){
	text-align: right;
}

#note-52 td:nth-child(3),
#note-52 td:nth-child(5){
	text-align: center;
}

#note-52 thead th:nth-child(2),
#note-52 thead th:nth-child(4),
#note-52 thead th:nth-child(5),
#note-52 td:nth-child(4),
#note-52 td:nth-child(6),
#note-52 td:nth-child(7){
	max-width: 8em;
	text-align: right;
}

/* Chapter 3, note 53, table */
#note-53 table{
	border-bottom: 2px solid;
	border-spacing: 0;
	border-top: 2px solid;
	max-width: 50em;
}

#note-53 th,
#note-53 td{
	text-align: right;
}

#note-53 tbody tr:first-child th,
#note-53 tbody tr:first-child td{
	border-top: 1px solid;
}

#note-53 tr:first-child th,
#note-53 tr:first-child td{
	padding-top: .5em;
}

#note-53 tr:last-child th,
#note-53 tr:last-child td{
	padding-bottom: .5em;
}

#note-53 thead tr:first-child th,
#note-53 thead tr:nth-child(2) th:nth-child(4),
#note-53 thead tr:nth-child(2) th:nth-child(6),
#note-53 tbody th:first-child{
	text-align: center;
}

#note-53 tbody:nth-child(2) td[rowspan],
#note-53 tbody:nth-child(3) td[rowspan],
#note-53 tbody:nth-child(4) td:nth-child(3),
#note-53 tbody:nth-child(4) td:nth-child(5),
#note-53 tbody:nth-child(4) td:nth-child(7){
	line-height: 1.75;
	text-align: center;
}

#note-53 tbody:nth-child(2) td[rowspan]::before,
#note-53 tbody:nth-child(3) td[rowspan]::before{
	content: "|\A ";
	white-space: pre;
}

#note-53 tbody:nth-child(2) td[rowspan]::after,
#note-53 tbody:nth-child(3) td[rowspan]::after{
	content: "\A |";
	white-space: pre;
}

/* Handwritten letter */
#note-203 img{
	max-width: 90%;
}
