@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 8em;
	text-indent: -1em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"],
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

article > header [epub|type~="epigraph"] + *,
section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"],
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

footer{
	margin-top: 1em;
	text-align: right;
}

figure.full-page{
	break-after: page;
	break-before: page;
	break-inside: avoid;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

figure.left{
	float: left;
	margin: 0.5em 0.5em 0.5em 0;
	width: 45%;
}

figure.right{
	float: right;
	margin: 0.5em 0 0.5em 0.5em;
	width: 45%;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

/* If the image is meant to be aligned block-level with the text, use this selector... */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

/* In all cases, also include the below styles */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}

#poem-snow-bound span:first-child{
	margin-left: 7em;
}

/* Note at the end of Chapter 3 */
section aside{
	font-size: .75em;
	margin: 1.5em auto;
}

section > aside > header + *{
	margin-top: 1.5em;
}

/* First table in Chapter 3 */
#chapter-3 > table:nth-of-type(1){
	border-spacing: 0;
	break-inside: avoid;
}

#chapter-3 > table:nth-of-type(1) th,
#chapter-3 > table:nth-of-type(1) td{
	padding-bottom: 0.1em;
	padding-right: 0.5em;
	vertical-align: top;
}

#chapter-3 > table:nth-of-type(1) th{
	font-weight: normal;
	text-align: initial;
}

#chapter-3 > table:nth-of-type(1) tbody:nth-child(1) th{
	text-indent: 1em;
}

#chapter-3 > table:nth-of-type(1) tbody:nth-child(2) tr.total th{
	text-align: right;
}

#chapter-3 > table:nth-of-type(1) th:first-child{
	max-width: 30em;
	max-width: 60ch;
}

#chapter-3 table span.ditto{
	visibility: hidden;
}

#chapter-3 table span.ditto::before{
	content: "      ”";
	display: inline-block;
	visibility: initial;
	width: 0;
}

td.distance{
	padding-left: 0.5em;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
}

td.ditto{
	text-align: center;
}

tr.total td.distance{
	border-top: 1px solid #000;
}

/* Second table in Chapter 3. */
#chapter-3-table-2 div{
	columns: 2;
	margin: 0.5em 0;
}

#chapter-3-table-2 table{
	border-spacing: 0;
	break-inside: avoid;
}

#chapter-3-table-2 th,
#chapter-3-table-2 td{
	padding: 0.1em 0.5em;
}

#chapter-3-table-2 th{
	font-weight: normal;
	text-align: initial;
}

#chapter-3-table-2 td{
	text-align: center;
	white-space: nowrap;
}

#chapter-3-table-2 thead th{
	padding-bottom: 0.3em;
	text-align: center;
}

#chapter-3-table-2 p{
	text-indent: none;
}

/* First table Chapter 11 */
#chapter-11 table{
	border-spacing: 0;
	break-inside: avoid;
	margin: 1em auto;
}

#chapter-11 th,
#chapter-11 td{
	font-weight: normal;
	padding: 0.1em 0.5em;
}

#chapter-11 td.number{
	text-align: right;
}

#chapter-11 td.distance{
	text-align: center;
}

#chapter-11 table span.ditto{
	visibility: hidden;
}

#chapter-11 table span.ditto::before{
	content: "  ”";
	display: inline-block;
	visibility: initial;
	width: 0;
}

#chapter-11 table span.ditto.short::before{
       content: " ”";
}

#preface-1 footer time{
	font-style: italic;
}

#preface-2 section header p{
	font-variant: small-caps;
	margin: 2em 0 1em 0;
	text-align: initial;
}

#preface-2 section header + p{
	margin-top: 0;
}

#chapter-6 section{
	margin-bottom: 1em;
	margin-top: 1em;
}

#chapter-6 section p:first-child{
	text-indent: 1em;
}

/* Appendix D and E */
table.ascents{
	border-bottom: 2px solid #000;
	border-spacing: 0;
	border-top: 2px solid #000;
	font-size: 0.8em;
}

table.ascents th,
table.ascents td{
	font-weight: normal;
	padding-top: 0.6em;
	text-align: initial;
	vertical-align: top;
}

table.ascents thead th{
	padding-bottom: 0.6em;
}

table.ascents thead th{
	vertical-align: bottom;
}

table.ascents tbody tr:first-child th,
table.ascents tbody tr:first-child td{
	border-top: 1px solid #000;
}

table.ascents tbody tr:last-child th,
table.ascents tbody tr:last-child td{
	padding-bottom: 0.6em;
}

table.ascents .number{
	text-align: center;
}

table.ascents .date,
table.ascents .names,
table.ascents .height{
	white-space: nowrap;
}

#note-232 img{
	max-width: 90%;
}
